{% extends 'Sentinel_App/base.html' %}

{% include "Sentinel_App/navbar.html" %}

{% block content %}
    <main id="main">
        <section id="contact" class="contact mb-5">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-12 text-center mb-5">
                        <h1 class="page-title">Contact us</h1>
                    </div>
                </div>

                <div class="row gy-4">
                    <div class="col-md-4">
                        <div class="info-item">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Address</h3>
                            <address>A108 Adam Street, NY 535022, USA</address>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-4">
                        <div class="info-item info-item-borders">
                            <i class="bi bi-phone"></i>
                            <h3>Phone Number</h3>
                            <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-4">
                        <div class="info-item">
                            <i class="bi bi-envelope"></i>
                            <h3>Email</h3>
                            <p><a href="mailto:info@example.com">info@example.com</a></p>
                        </div>
                    </div><!-- End Info Item -->
                </div>

                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                        
                                <br>
                                <br>
                                <form action="" method="post" role="form">
                                    {{ form.as_p }}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Post Message</button>
                                </form>
                            </div>
                    
                    </div>
                </div>
                
            </div>
        </section>
    </main>
{% endblock %}
