

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-4">
            {% for about in about_ministry%}
            <h3 class="footer-heading">About {{ about.ministry_name }}</h3>
            <p>{{about.ministry_history}}</p>
            {%endfor%}
            <p><a href="{% url 'about' %}" class="footer-link-more">Learn More</a></p>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Navigation</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}"><i class="bi bi-chevron-right"></i> Home</a></li>
              <li><a href="{% url 'all_posts' %}"><i class="bi bi-chevron-right"></i> All Posts</a></li>
              <li><a href="{% url 'about' %}"><i class="bi bi-chevron-right"></i> About us</a></li>
              <li><a href="{% url 'contact' %}"><i class="bi bi-chevron-right"></i> Contact</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Categories</h3>
            <ul class="footer-links list-unstyled">
              {% for category in category_list %}
                 <li>
                 <a class="dropdown-item" href="/category/{{category.name}}"><i class="bi bi-chevron-right"></i>
                  {{category.name |title}}
                </a>
                 </li>
              {%endfor%}
            </ul>
          </div>

          <div class="col-lg-4">
            <h3 class="footer-heading">Recent Posts</h3>

            <ul class="footer-links footer-blog-entry list-unstyled">
              {% for obj in recent_posts %}
              <li>
                <a href="{% url 'single_post' slug=obj.slug %}" class="d-flex align-items-center">
                  <img src="{{ obj.thumbnail.url }}" alt="" class="img-fluid me-3">
                  <div>
                    <div class="post-meta d-block"><span class="date">{{ obj.category.name }}</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                    <span>{{ obj.title }}</span>
                  </div>
                </a>
              </li>
              {% endfor %}

            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>Midnight Sentinel</span></strong>. All Rights Reserved
            </div>

            <div class="credits">
        
              Designed by <a href="">DarajaCloudSpace</a>
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>

 